{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Votre demande préalable de travaux{% endblock %}

{% block content %}
    <main>
        <section class="section-color">
            <h4>{{ app.user.ville.nom}}</h4>


        </section>
    </main>
{% endblock %}
