
<h2>Agrandissement</h2>
<p>
L’extension consiste en un agrandissement de la construction existante présentant des dimensions inférieures à celle-ci.
</p>

<p>
L’extension peut être horizontale ou verticale (par surélévation,excavation ou agrandissement), et doit présenter un lien physique et fonctionnel avec la construction existante.
</p>

<p>
Une demande préalable est exigée si vous agrandissez votre maison et que cela entraîne la création d'une surface de plancher ou d'une emprise au sol inférieure à 40 m² (par exemple : surélévation, extension ...)
</p>

<p>
La surface de plancher : somme des surfaces de tous les niveaux construits, clos et couvert, dont la hauteur de plafond est supérieure à 1,80 m. Elle se mesure au nu intérieur des murs de façades de la construction (c'est-à-dire à l'intérieur de la construction, d'un mur de façade à un autre).
</p>

<p>
L'emprise : la projection verticale du volume de la construction, tous débords et surplombs inclus. Toutefois, les ornements (exemple : marquises) sont exclus, ainsi que les débords de toiture lorsqu'ils ne sont pas soutenus par des poteaux ou des encorbellements.
</p>

<p>
Les règles d'urbanisme de votre commune peuvent s'opposer à ce que vous suréleviez votre construction. Il est donc recommandé de vous renseigner au préalable auprès du service urbanisme de votre mairie. Il convient également de faire vérifier par un professionnel de la construction que votre construction est en mesure de supporter cette surélévation.
</p>


<h2>
    Les pièces fréquemment demandées
</h2>

<ul>
    <li>
        La DP1 : un plan de situation du terrain
        <p>
        Il permet de connaître la situation du terrain sur la commune et de localiser la zone dans laquelle il est situé pour identifier les règles d’urbanisme applicables.
        </p>
    </li>
    <li>
        La DP2 : un plan de masse de la construction à édifier ou modifier
        <p>
            Ce plan présente le projet dans sa totalité, vue de dessus. Il fait apparaître les bâtiments existants sur le terrain, ceux à édifier avec leurs dimensions et leurs implantations, l’emplacement prévu pour le raccordement aux réseaux, les arbres existants et ceux qui seront supprimés.
        </p>
    </li>
<li>
La DP3 : un plan de coupe du terrain et de la construction
<p>
    Ce plan fait apparaître le profil du terrain avant et après les travaux. Il indique le volume extérieur des constructions et leurs implantations par rapport au profil du terrain.
</p>

</li>
<li>
La DP4 : un plan de façades et des toitures
    <p>
Ces plans permettent d’apprécier l’aspect extérieur de la construction ou de la rénovation ainsi que les hauteurs.

    </p>
</li>
<li>
La DP5 : une représentation de l’aspect extérieur
    <p>
Cette représentation de la construction permet d’apprécier les modifications projetées.

    </p>
</li>
<li>
La DP6 : un document graphique 3D
    <p>

Ce document est une modélisation en 3D du projet inséré dans son environnement. Il permet à l’administration d’avoir une vision précise du projet visible depuis l’espace publique.
    </p>
</li>
<li>
La DP7 : une photographie situant le terrain dans l’environnement proche
    <p>
Cette photographie permet de montrer les constructions en proximité immédiate.

    </p>
</li>
<li>
La DP8 : une photographie situant le terrain dans l’environnement lointain
        <p>
Cette photographie permet de montrer l’environnement du projet, la rue et les constructions avoisinantes.

    </p>
</li>
</ul>

