<h2>
    Construction d'une annexe
</h2>

<p>Une annexe est une construction secondaire, de dimensions réduites et inférieures à la construction principale, qui apporte un complément aux fonctionnalités de la construction principale.</p>
<p>Elle doit être implantée selon un éloignement restreint entre les deux constructions afin de marquer un lien d’usage. Elle peut être accolée ou non à la construction principale avec qui elle entretient un lien fonctionnel, sans disposer d’accès direct depuis la construction principale.</p>

<p>Une DP est exigée si vous agrandissez votre maison et que cela entraîne la création d'une surface de plancher ou d'une emprise au sol inférieure à 40 m² (par exemple : création d'une véranda, d'un garage ou d'une dépendance).</p>

<p>La surface de plancher : somme des surfaces de tous les niveaux construits, clos et couvert, dont la hauteur de plafond est supérieure à 1,80 m. Elle se mesure au nu intérieur des murs de façades de la construction (c'est-à-dire à l'intérieur de la construction, d'un mur de façade à un autre).</p>

<p>L'emprise : la projection verticale du volume de la construction, tous débords et surplombs inclus. Toutefois, les ornements (exemple : marquises) sont exclus, ainsi que les débords de toiture lorsqu'ils ne sont pas soutenus par des poteaux ou des encorbellements.</p>

<p>Les règles d'urbanisme de votre commune peuvent s'opposer à ce que vous suréleviez votre construction. Il est donc recommandé de vous renseigner au préalable auprès du service urbanisme de votre mairie. Il convient également de faire vérifier par un professionnel de la construction que votre construction est en mesure de supporter cette surélévation.</p>
