<p>changement d'aspect extérieur</p>

<p>Une demande préalable (DP) est exigée pour :</p>
<ul>
    <li>toute création d'ouverture (porte, fenêtre),</li>
    <li>tout changement de porte ou fenêtre par un autre modèle,</li>
    <li>tout changement de toiture.</li>
</ul>

<p>Si les travaux sont identiques (vous changez de fenêtre pour une fenêtre identique), vous n'avez aucune DP à faire.</p>

<p>À savoir :</p>

<p>si ces modifications s'accompagnent d'un changement de destination de votre construction (par exemple, vous transformez un local commercial en logement), vous devez déposer un permis de construire.</p>

<p>Une DP est exigée par la mairie si les travaux de ravalement se déroulent dans un espace faisant l'objet d'une protection particulière (par exemple, abord d'un monument historique ou site classé). Il en est de même si les travaux de ravalement sont situés dans une commune qui impose le dépôt d'une DP.</p>

<p>Pour savoir si vous êtes concerné par l'un de ces cas, renseignez-vous au préalable auprès du service urbanisme de votre mairie.</p>
