
<p>Dépot de demande préalable à des travaux - clôture</p>


<p>Une déclaration préalable est nécessaire si votre clôture est située dans les cas suivants (R.421-12 du code de l'urbanisme) :</p>

<ul>
    <li>dans le périmètre d’un site patrimonial remarquable, dans les abords des monuments historiques, dans un site inscrit ou un site classé ou en instance de classement</li>
    <li>en secteur délimité de Plan local d’urbanisme ou en partie de commune dont le conseil municipal a décidé de soumettre les clôtures à déclaration</li>
</ul>

<p>Pour les autres cas que ceux cités ci-dessus et les clôtures nécessaires à l’activité agricole ou forestière, aucune formalité n'est nécessaire au titre du code de l'urbanisme (R.421-2 g).</p>

<p>Attention : les travaux qui ne sont soumis à aucune formalité au titre du code de l’urbanisme doivent néanmoins respecter les règles d’urbanisme (respect des limites séparatives par exemple).</p>
