

<p>Dépot de déclaration préalable lotissements et autres divisions foncières non soumis à permis d’aménager</p>

<p>• Vous divisez un terrain pour en détacher un ou plusieurs lots en vue de construire :</p>
<ul>
    <li>- en dehors d’un site classé ou dans les périmètres d’un site patrimonial remarquable, des abords des monuments historiques ;</li>
    <li>- sans création ou aménagement de voies, d’espaces ou d’équipements communs à plusieurs lots et propres au lotissement.</li>
</ul>

<p>• Vous réalisez une division foncière dans une commune qui a institué le contrôle des divisions dans le cadre de l’article L.115-3 du code de l’urbanisme.</p>

<p>Pour savoir précisément à quelle(s) formalité(s) est soumis votre projet, vous renseigner auprès de la mairie du lieu de votre projet.</p>
