
<h1>Extension</h1>
<p>
L’extension consiste en un agrandissement de la construction existante présentant des dimensions inférieures à celle-ci.
</p>

<p>
L’extension peut être horizontale ou verticale (par surélévation,excavation ou agrandissement), et doit présenter un lien physique et fonctionnel avec la construction existante.
</p>

<p>
Une demande préalable est exigée si vous agrandissez votre maison et que cela entraîne la création d'une surface de plancher ou d'une emprise au sol inférieure à 40 m² (par exemple : surélévation, extension ...)
</p>

<p>
La surface de plancher : somme des surfaces de tous les niveaux construits, clos et couvert, dont la hauteur de plafond est supérieure à 1,80 m. Elle se mesure au nu intérieur des murs de façades de la construction (c'est-à-dire à l'intérieur de la construction, d'un mur de façade à un autre).
</p>

<p>
L'emprise : la projection verticale du volume de la construction, tous débords et surplombs inclus. Toutefois, les ornements (exemple : marquises) sont exclus, ainsi que les débords de toiture lorsqu'ils ne sont pas soutenus par des poteaux ou des encorbellements.
</p>

<p>
Les règles d'urbanisme de votre commune peuvent s'opposer à ce que vous suréleviez votre construction. Il est donc recommandé de vous renseigner au préalable auprès du service urbanisme de votre mairie. Il convient également de faire vérifier par un professionnel de la construction que votre construction est en mesure de supporter cette surélévation.
</p>
