<h2>Travaux multiples non soumis à permis de construire</h2>

<p>Ce formulaire permet de demander une autorisation pour des travaux multiples.</p>
<p>Par exemple, la construction d'une annexe (piscine, abri de jardin…) et l'extension d'une maison individuelle.</p>
