<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mes demandes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">

    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="#">Construire-facile</a></li>
            <li class="is-active"><a href="#" aria-current="page">Mes dossiers</a></li>
          </ul>
        </nav>

        <h2 class="title is-2">Dossiers en attente de traitement</h2>

        <div class="columns">
            <div class="column ">

                <table class="table">
                  <thead>
                      <tr>
                          <td>Numéro</td>
                          <td>Lieu</td>
                          <td>Nom</td>
                          <td>Date de dépot</td>
                          <td>Date de validation tacite</td>
                          <td>Status</td>
                          <td>Lien</td>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>42</td>
                      <td>Saint-Malo</td>
                      <td>Jean Michel COSTE</td>
                      <td>10 déc. 2018</td>
                      <td>10 fév. 2018</td>
                      <td><span class="tag is-link is-normal">Analyse requise</span></td>
                      <td><a class="button is-primary is-small" href="../instructeur/voir-demande.html.twig">Voir</a></td>
                    </tr>

                    <tr>
                      <td>67</td>
                      <td>Bordeaux</td>
                      <td>Clément CAMIN</td>
                      <td>10 déc. 2018</td>
                      <td>10 fév. 2018</td>
                      <td><span class="tag is-link is-normal">Analyse requise</span></td>
                      <td><a class="button is-primary is-small" href="../instructeur/voir-demande.html.twig">Voir</a></td>
                    </tr>

                    <tr>
                      <td>71</td>
                      <td>Paris</td>
                      <td>Vigier CLAIRE</td>
                      <td>10 déc. 2018</td>
                      <td>10 fév. 2018</td>
                      <td><span class="tag is-link is-normal">Analyse requise</span></td>
                      <td><a class="button is-primary is-small" href="../instructeur/voir-demande.html.twig">Voir</a></td>
                    </tr>

                  </tbody>
                </table>
              
            </div>
        </div>

        <h2 class="title is-2">Dossiers en attente de retours du demandeur</h2>

        <div class="columns">
            <div class="column ">

                <table class="table">
                    <thead>
                    <tr>
                        <td>Numéro</td>
                        <td>Lieu</td>
                        <td>Nom</td>
                        <td>Date de dépot</td>
                        <td>Date de validation tacite</td>
                        <td>Status</td>
                        <td>Lien</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>42</td>
                        <td>Saint-Malo</td>
                        <td>Jean Michel COSTE</td>
                        <td>10 déc. 2018</td>
                        <td>10 fév. 2018</td>
                        <td><span class="tag is-link is-normal">Analyse requise</span></td>
                        <td><a class="button is-primary is-small" href="../instructeur/voir-demande.html.twig">Voir</a></td>
                    </tr>

                    <tr>
                        <td>67</td>
                        <td>Bordeaux</td>
                        <td>Clément CAMIN</td>
                        <td>10 déc. 2018</td>
                        <td>10 fév. 2018</td>
                        <td><span class="tag is-link is-normal">Analyse requise</span></td>
                        <td><a class="button is-primary is-small" href="../instructeur/voir-demande.html.twig">Voir</a></td>
                    </tr>

                    <tr>
                        <td>71</td>
                        <td>Paris</td>
                        <td>Vigier CLAIRE</td>
                        <td>10 déc. 2018</td>
                        <td>10 fév. 2018</td>
                        <td><span class="tag is-link is-normal">Analyse requise</span></td>
                        <td><a class="button is-primary is-small" href="../instructeur/voir-demande.html.twig">Voir</a></td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>

        <h2 class="title is-2">Dossiers terminés</h2>

        <div class="columns">
            <div class="column ">

                <table class="table">
                    <thead>
                    <tr>
                        <td>Numéro</td>
                        <td>Lieu</td>
                        <td>Nom</td>
                        <td>Date de dépot</td>
                        <td>Date de validation tacite</td>
                        <td>Status</td>
                        <td>Lien</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>42</td>
                        <td>Saint-Malo</td>
                        <td>Jean Michel COSTE</td>
                        <td>10 déc. 2018</td>
                        <td>10 fév. 2018</td>
                        <td><span class="tag is-link is-normal">Analyse requise</span></td>
                        <td><a class="button is-primary is-small" href="../instructeur/voir-demande.html.twig">Voir</a></td>
                    </tr>

                    <tr>
                        <td>67</td>
                        <td>Bordeaux</td>
                        <td>Clément CAMIN</td>
                        <td>10 déc. 2018</td>
                        <td>10 fév. 2018</td>
                        <td><span class="tag is-link is-normal">Analyse requise</span></td>
                        <td><a class="button is-primary is-small" href="../instructeur/voir-demande.html.twig">Voir</a></td>
                    </tr>

                    <tr>
                        <td>71</td>
                        <td>Paris</td>
                        <td>Vigier CLAIRE</td>
                        <td>10 déc. 2018</td>
                        <td>10 fév. 2018</td>
                        <td><span class="tag is-link is-normal">Analyse requise</span></td>
                        <td><a class="button is-primary is-small" href="../instructeur/voir-demande.html.twig">Voir</a></td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
  </section>
  </body>
</html>