{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Votre demande préalable de travaux{% endblock %}

{% block content %}

<section class="section-white">

    <div class="aerate-content">
        <h2>Contact</h2>
        <p>Vous pouvez contacter l'équipe en nous envoyant un email : <a href="mailto: jean-michel.coste@developpement-durable.gouv.fr">jean-michel.coste@developpement-durable.gouv.fr</a></p>

    </div>
</section>

{% endblock content %}