{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Votre demande préalable de travaux{% endblock %}

{% block content %}

<main>
    <section class="section-white">
        <div class="aerate-content">
            <h2>Contact</h2>
            <p>Vous pouvez contacter l'équipe en nous envoyant un email : <a href="mailto: ads-relations-collectivites@developpement-durable.gouv.fr">ads-relations-collectivites@developpement-durable.gouv.fr</a></p>
        </div>
    </section>
</main>

{% endblock content %}