{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Votre demande préalable de travaux{% endblock %}

{% block content %}

<div class="banner" role="contentinfo">
  <div class="banner-content">
    <h1>Déposez et gérez votre déclaration préalable de travaux en toute simplicité</h1>
    <p class="buttons-row">
    <h4 class="center">
      <a class="btn" href="{{ path("route_qualify1") }}">C'est parti !</a>
    </h4>
    </p>
  </div>
</div>

<main id="skip-to-main">

  <section class="section-white">

    <h4 class="center">Une déclaration préalable de travaux, comment ça se passe ?</h4>

    {% include 'components/_steps.html.twig' %}

    <div class="center">
      {#<a href="{{ path('route_static_comment_ca_marche') }}">en savoir plus</a> #}

      <p class="buttons-row">
      <h4>
        <a class="btn" href="{{ path("route_qualify1") }}">
          Faire votre déclaration préalable en ligne
        </a>
      </h4>
      </p>
    </div>

  </section>
  <section class="section-blue hero">

    <h4 class="center">Permis de construire facile, pourquoi ?</h4>

    <ul class="steps" style="text-align: center;">
      <li class="steps-item">
        <p>
          <i class="fa fa-car" style="font-size: 8rem; color: grey"></i><br>
          Plus besoin de vous déplacer ou d'envoyer des courriers
        </p>
      </li>
      <li class="steps-item">
        <p>
          <i class="fa fa-mail-bulk" style="font-size: 8rem; color: grey"></i>
          <br>
          Vous recevez des notifications par e-mail sur l'avancée de votre demande
        </p>
      </li>
      <li class="steps-item">
        <p>
          <i class="fa fa-lock" style="font-size: 8rem; color: grey"></i><br>
          Votre démarche est sécurisée, rapide et c'est gratuit
        </p>
      </li>
    </ul>

  </section>

  <section class="section hero">

    <ul class="steps center">
      <li class="">
        <p class="buttons-row">
          <h5>
              <a class="btn" href="{{ path("route_static_faq") }}">
              Démarches d'urbanisme:
              vos questions fréquentes
              </a>
          </h5>
        </p>
      </li>
    </ul>

  </section>

</main>

{% endblock %}
