{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Votre demande préalable de travaux{% endblock %}

{% block content %}

<div class="banner" role="contentinfo">
  <div class="banner-content">
    <h1>Déposez et gérez votre déclaration préalable de travaux en toute simplicité</h1>
    <p class="buttons-row">
    <h4 class="center">
      <a class="btn" href="{{ path("route_qualify1") }}">C'est parti !</a>
    </h4>
    </p>
  </div>
</div>

<main id="skip-to-main">

  <section class="section-white">

    <h4 class="center">Une déclaration préalable de travaux, comment ça se passe ?</h4>

    <ul class="steps">
      <li class="steps-item">
        <a href="{{ path('route_static_faq', {'_fragment': 'etape1'}) }}">
          <img src="/build/static/img/steps/1-question.svg" alt="Étape 1" width="100" height="100">
          <p>
            <span>1</span>
            Je m'informe sur la faisabilité de mon projet
          </p>
        </a>
      </li>
      <li class="steps-item">
        <a href="{{ path('route_static_faq', {'_fragment': 'etape2'}) }}">
          <img src="/build/static/img/steps/2-clipboard.svg" alt="Étape 2" width="100" height="100">
          <p>
            <span>2</span>
            Je précise mon projet et ma commune d'habitation
          </p>
        </a>
      </li>
      <li class="steps-item">
        <a href="{{ path('route_static_faq', {'_fragment': 'etape3'}) }}">
          <img src="/build/static/img/steps/3-form.svg" alt="Étape 3" width="100" height="100">
          <p>
            <span>3</span>
            Je complète le formulaire spécifique et dépose les pièces-jointes obligatoires
          </p>
        </a>
      </li>
      <li class="steps-item">
        <a href="{{ path('route_static_faq', {'_fragment': 'etape4'}) }}">
          <img src="/build/static/img/steps/4-upload.svg" alt="Étape 4" width="100" height="100">
          <p>
            <span>4</span>
            Je valide le dépôt de mon dossier 100% en ligne
          </p>
        </a>
      </li>
      <li class="steps-item">
        <a href="{{ path('route_static_faq', {'_fragment': 'etape5'}) }}">
          <img src="/build/static/img/steps/5-path.svg" alt="Étape 5" width="100" height="100">
          <p>
            <span>5</span>
            Je suis le traitement de ma demande
          </p>
        </a>
      </li>
      <li class="steps-item">
        <a href="{{ path('route_static_faq', {'_fragment': 'etape6'}) }}">
          <img src="/build/static/img/steps/6-download.svg" alt="Étape 6" width="100" height="100">
          <p>
            <span>6</span>
            Je récupère la décision à ma demande
          </p>
        </a>
      </li>
    </ul>

    <div class="center">
      {#<a href="{{ path('route_static_comment_ca_marche') }}">en savoir plus</a> #}

      <p class="buttons-row">
      <h4>
        <a class="btn" href="{{ path("route_qualify1") }}">
          Faire votre déclaration préalable en ligne
        </a>
      </h4>
      </p>
    </div>

  </section>
  <section class="section-blue hero">

    <h4 class="center">Permis de construire facile, pourquoi ?</h4>

    <ul class="steps" style="text-align: center;">
      <li class="steps-item">
        <p>
          <i class="fa fa-car" style="font-size: 8rem; color: grey"></i><br>
          Plus besoin de vous déplacer ou d'envoyer des courriers
        </p>
      </li>
      <li class="steps-item">
        <p>
          <i class="fa fa-mail-bulk" style="font-size: 8rem; color: grey"></i>
          <br>
          Vous recevez des notifications par e-mail sur l'avancée de votre demande
        </p>
      </li>
      <li class="steps-item">
        <p>
          <i class="fa fa-lock" style="font-size: 8rem; color: grey"></i><br>
          Votre démarche est sécurisée, rapide et c'est gratuit
        </p>
      </li>
    </ul>

  </section>

</main>

{% endblock %}
