{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Votre demande préalable de travaux{% endblock %}

{% block content %}


<main>
    <section class="section-white">
        <div class="aerate-content">

            {% include "static/travaux/extension.html.twig" %}
        </div>
    </section>
</main>
{% endblock content %}