{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Votre demande préalable de travaux{% endblock %}

{% block content %}
    <main>

        <section class="section-color">
            <h4>Déclaration préalable de travaux</h4>
            <h5>Localisation du projet</h5>
            <p>
                Dans quelle ville allez-vous réaliser des travaux ?
            </p>
            <ul>
                <li><a href="{{ path("route_qualify2") }}">Niort</a></li>
                <li><a href="{{ path("route_qualify2") }}">Saint-Tropez</a></li>
            </ul>
            <p>
            <h5>Votre ville n'est pas dans cette liste ?</h5>
            Alors, elle n'est pas partenaire pour le moment. Vous pouvez utiliser la voie traditionnelle et déposer en mairie votre déclaration d'urbanisme que vous pourrez imprimer depuis
            <a href="https://www.service-public.fr/particuliers/vosdroits/F17578">service-public.fr</a>.
            </p>
        </section>

    </main>
{% endblock %}
