{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Votre demande préalable de travaux{% endblock %}

{% block content %}

<main>
    <section class="section-color">
        <a href="{{ path("route_qualify2") }}"><i class="fa fa-arrow-left"></i>&nbsp;Précédent</a>
        <h4>Déclaration préalable de travaux</h4>
        <h5>Typologie de travaux</h5>
        <p>
            Quel type de travaux souhaitez-vous réaliser ?
        </p>
        <ul class="steps">
            <li class="steps-item">
                <p>
                    <a href="{{ path("route_resultats") }}">Terrassement</a>
                </p>
            </li>
            <li class="steps-item">
                <p>
                    Surrélévation
                </p>
            </li>
            <li class="steps-item">
                <p>
                    Nouvelle construction
                </p>
            </li>
            <li class="steps-item">
                <p>
                    Travaux ou changement de destination sur une construction existante
                </p>
            </li>
            <li class="steps-item">
                <p>
                    Piscine
                </p>
            </li>
            <li class="steps-item">
                <p>
                    Clôture
                </p>
            </li>
        </ul>
    </section>
</main>
{% endblock %}
