{% extends "base.html.twig" %}

{% block title %}Déposer un dossier{% endblock title %}

{% block breadcrumb %}
    <li><a href="{{ path("route_demandeur_dashboard") }}">Mes demandes</a></li>
    <li class="is-active"><a href="#" aria-current="page">Déposer une nouvelle demande</a></li>
{% endblock breadcrumb %}

{% block content %}
<h2 class="title is-2">Déposer une nouvelle demande</h2>
<div class="columns">
    <div class="column ">
      <div class="box">
          <h3 class="title is-3">Importez votre demande ALDAU</h3>
          <form>

            <div class="file has-name is-boxed">
              <label class="file-label">
                <input class="file-input" type="file" name="resume">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choisissez un fichier…
                  </span>
                </span>
                <span class="file-name">
                  aldau.zip
                </span>
              </label>
            </div>

          </form>
          <button class="button is-info is-large">Déposer cette demande</button>
      </div>
    </div>
</div>
{% endblock content %}