<h4>DP3 - Plan en coupe précisant l’implantation de la construction par rapport au profil du terrain</h4>
<p>
    <ul>
    <li>
        Ce plan montre le profil du terrain : permet de voir les volumes des constructions et les implantations par rapport au profil
    </li>
    <li>
        À fournir si votre projet les modifie (exemple : pose d’une fenêtre de toit, création d’une porte..). Inutile pour un simple ravalement de façade."
    </li>
</ul>
</p>
