<h4>DP7 - Photographie permettant de situer le terrain dans l'environnement proche</h4>
<p>
    <ul>
        <li>Pour voir les constructions proches</li>
        <li>Sauf si vous justifiez qu’aucune photographie de loin n’est possible</li>
    </ul>
</p>
