<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Faites votre demande d&apos;autorisation de travaux avec Permis de construire facile. Permis de construire facile est un service de l&apos;Etat">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <title>{% block title %}Permis de construire facile{% endblock %}</title>
    <link rel="stylesheet" href="/build/static/css/bundle.css?bust=4" type="text/css">
    <link rel="stylesheet" href="/build/static/css/typesettings-1.7-min.css" type="text/css">

    {% block head %}{% endblock %}
    <style>
        .questions-container{
           font-size: 1.5rem;
        }

        .questions-container ul.question-items{
            list-style-type: none;
            padding-left: 0;
        }

        .questions-container a li{
            border: 1px solid #0081d5;
            padding: 0.25rem;
            padding-left: 40px;
            margin-top: 1rem;
            width: 450px;
            transform: translate3d(0px, 0px, 0px);
            border-radius: 0.3rem;

            transition-property: opacity, box-shadow;
            transition-duration: 0s, 0.2s;
            transition-timing-function: ease, ease;
            transition-delay: 0s, 0s;
        }

        .questions-container a {
            text-decoration: none;
        }
        .questions-container a li:hover{
            box-shadow: 0 1px 3px rgba( 	0, 129, 213, 0.12), 0 1px 2px rgba( 	0, 129, 213, 0.24);
        }
        .questions-container a li:hover::after{
            content: '\203A';
            position: absolute;
            right: 40px;
        }
        .banner {
            background-color: inherit;
        }
        .banner-content h1 {
            padding-left: 0;
            text-align: center;
        }
        .steps-item a{
            color: #1c1c1c;
        }
        main section{
            padding-top: 60px !important;
            padding-bottom: 60px !important;
        }
    </style>
</head>
<body>

<nav aria-label="page" id="skip-links">
    <a href="#skip-to-main">Contenu principal</a>
    <a href="#skip-to-footer">Pied de page</a>
</nav>

<header class="site-header">
    <nav>
        <div class="site-header-logos">
            <img src="/build/static/img/gouv.svg" alt="" width="80">
            <a class="site-logo" href="{{ path('route_index') }}">
                Permis de construire facile
            </a>
        </div>
    </nav>
</header>

{% block content %}{% endblock %}

<footer id="skip-to-footer" class="site-footer">
    <div class="site-footer-content">
        <p>
            <ul>
                <li>
                    <a href="{{ path('route_static_faq') }}"><abbr title="Foire aux questions">FAQ</abbr></a>
                </li>
                <li>
                    <a href="{{ path('route_static_cgu') }}">Conditions Générales d'Utilisation</a>
                </li>
                <li>
                    <a href="{{ path('route_static_contact') }}">Contact</a>
                </li>
            </ul>
        </p>
        <p>
            Permis de construire facile est un service numérique de l’État <a href="https://beta.gouv.fr/startups/permis-de-construire-facile.html">en cours de conception</a>, incubé à la Fabrique numérique du Ministère de la Transition écologique et solidaire, membre du réseau d’incubateurs <a href="https://beta.gouv.fr">beta.gouv.fr</a>
        </p>
        <p>
        <ul>

            <li>
                <img src="/build/static/img/logo-mtes.svg" alt="" width="400">
            </li>
            <li>
                <img src="/build/static/img/logo-fabrique.png" alt="" width="100px">
            </li>
        </ul>
        </p>
    </div>
</footer>

{% block script %}
    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//stats.data.gouv.fr/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '81']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
{% endblock %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</body>
</html>
