<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Faites votre demande d&apos;autorisation de travaux avec Permis de construire facile. Permis de construire facile est un service de l&apos;Etat">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <title>{% block title %}Permis de construire facile{% endblock %}</title>
    <link rel="stylesheet" href="/build/static/css/bundle.css?bust=4" type="text/css">
    {% block head %}{% endblock %}
    <style>
        .questions-container{
           font-size: 1.5rem;
        }
        .banner-content h1 {
            padding-left: 0;
            text-align: center;
        }
        .steps-item a{
            color: #1c1c1c;
        }
    </style>
</head>
<body>

<nav aria-label="page" id="skip-links">
    <a href="#skip-to-main">Contenu principal</a>
    <a href="#skip-to-footer">Pied de page</a>
</nav>

<header class="site-header">
    <nav>
        <div class="site-header-logos">
            <img src="/build/static/img/gouv.svg" alt="" width="80">
            <a class="site-logo" href="/">Permis de construire facile</a>
        </div>
    </nav>
</header>

{% block content %}{% endblock %}

<footer id="skip-to-footer" class="site-footer">
    <div class="site-footer-content">
        <p>
            <ul>
                <li>
                    <a href="{{ path('route_static_faq') }}">FAQ</a>
                </li>
                <li>
                    <a href="{{ path('route_static_cgu') }}">Conditions Générales d'Utilisation</a>
                </li>
                <li>
                    <a href="{{ path('route_static_contact') }}">Contact</a>
                </li>
            </ul>
        </p>
        <p>
            Permis de construire facile est un service numérique de l’État <a href="https://beta.gouv.fr/startups/permis-de-construire-facile.html">en cours de conception</a>, incubé à la Fabrique numérique du Ministère de la Transition écologique et solidaire, membre du réseau d’incubateurs <a href="https://beta.gouv.fr">beta.gouv.fr</a>
        </p>
        <p>
        <ul>

            <li>
                <img src="/build/static/img/logo-mtes.svg" alt="" width="400">
            </li>
            <li>
                <img src="/build/static/img/logo-fabrique.png" alt="" width="100px">
            </li>
        </ul>
        </p>
    </div>
</footer>

{% block script %}
    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//stats.data.gouv.fr/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '81']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
{% endblock %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</body>
</html>
