<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Permis de construire facile{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    {% block stylesheets %}{% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <section class="section">
        <div class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-light" href="{{ path("fos_user_security_logout") }}">
                                    Déconnection
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ path("route_index") }}">Permis de construire facile</a></li>
                {% block breadcrumb %}

                {% endblock breadcrumb %}
                </ul>

            </nav>
        {% block content %}
        {% endblock content %}
        </div>
    </section>
    {% block javascripts %}{% endblock %}
</body>
</html>