<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Déposer un dossier</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
          <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="#">Construire-facile</a></li>
            <li><a href="demandeur/dashboard.html.twig">Mes demandes</a></li>
            <li class="is-active"><a href="#" aria-current="page">Déposer une nouvelle demande</a></li>
          </ul>
        </nav>

        <h2 class="title is-2">Déposer une nouvelle demande</h2>
        <div class="columns">
            <div class="column ">
              <div class="box">
                  <h3 class="title is-3">Importez votre demande ALDAU</h3>
                  <form>

                    <div class="file has-name is-boxed">
                      <label class="file-label">
                        <input class="file-input" type="file" name="resume">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">
                            Choisissez un fichier…
                          </span>
                        </span>
                        <span class="file-name">
                          aldau.zip
                        </span>
                      </label>
                    </div>

                  </form>
                  <button class="button is-info is-large">Déposer cette demande</button>
              </div>
            </div>
        </div>
    </div>
  </section>
  </body>
</html>